h1{
  font-family: "Circular-bold", sans-serif;
}
.wrapper{
  background-color: #EDF5FF;
  width:100%;
  height:100vh;
  padding-bottom:30px;
}
.authWrapper{
  background-color: #fff;
  width:100%;
  height: auto;
  margin-top:100px;
  border-radius: 5px;
  padding:50px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.authWrapperForm input{
  width:100%;
  padding:12px 15px;
  border-radius:3px;
  border:1px solid #f3f3f3;
  font-family: "Circular", sans-serif;
  font-size:14px;
  color:#0B1033;
}
.authWrapperForm input:focus{
  outline: none;
}


.title{
  font-size:32px;
  color: #0B1033;
}
.subtitle{
  font-size:14px;
  color: #0B1033;
}
.footer-link{
  margin-top:20px;
  color: #0B1033;
}